body{
    background: var(--branco-menos-branco) ;
}

header{
    background: var(--header-footer);
    padding: 30px 15px;
}

#logo{
    width: 10%;
    margin: 0;
    margin-left: 20px;
}

nav{
    position: absolute;
    top: 5rem;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 60px;
}

nav a:hover{
    color: var(--black);
    transition: .5s; 
}


#imagemhotel{
    width: 100%;
    height: 600px;
    padding: 2px 0 0 0;
}

.txt{
    display: block;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.titulo{
    font-weight: bold;
    font-size:30px;
    padding: 30px 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.essencia{
    background-color: var(--branco);
    border: 3px solid var(--black); 
    margin: 0 0 15px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.sobrenos{
    background: var(--branco);
    border: 3px solid var(--black); 
    margin: 30px 0 0 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textos{
    font-size: 22px;
    text-align: center;
    padding: 15px;
    line-height: 2rem;
}



.quartosuite{
    width: 58.75rem;
    display: block;
    margin: 0 auto;

}

.quartosuite li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 20px 50px;
    padding: 30px 10px 40px 10px;
    box-sizing: border-box;
    border: 4px solid var(--black);
    border-radius: 10px;
}

.quartosuite li:hover{
    border-color: #a9a9a9;
    transition: .2s;
}

.quartosuite li:active{
    border-color:#808080;
}

.quartosuite li:hover h2{
    font-size: 35px;
}

.quartosuite li p{
    padding: 10px;
    font-size: 22px;
}

.quartosuite li img{
    width:100%;
    height: 100%;
}

.localizacao h3{
    font-size: 30px;
    padding: 10px 80px;
}

section div iframe{
    width: 100%;
    margin: 10px 0;
}

footer{
    padding: 2rem 0 2rem;
    background: var(--header-footer);
    clear: both;
}

.copyright{
    color: var(--branco);
    text-align: center;
    font-weight: bold;
    font-size:18px;
}
/* Contato */
.titulo-contato{
    font-size: 2rem;
    text-align: center;
}

form{
    font:1rem Verdana;
    display:block;
}

.form-div{
    margin:5px auto;
    padding: 5px;
    width:400px;
}

.label-control{
    font-weight: bold;
    display: block;
    text-transform: capitalize;
}

.input-control, .text-control{
    border: 1px solid var(--black);
    border-radius: 30px;
    padding: 10px 5px;
    margin:5px 0;
    width: 100%;
    box-shadow: 3px 3px #CCC;
    font: 1rem Verdana;
    color: var(--red);
}

.button{
    border: 1px solid var(--black);
    background: var(--red);
    color:var(--branco);
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 5px;
    border-radius: 15px;
    cursor:pointer;
    width: 140px;
    height: 50px;
}

.button:hover{
    color: var(--black);
    transition: 0.5s;
}

/*///////////////////////////////Quartos//////////////////////////////////*/

.mainQuartos{
    background: var(--quase-preto);
}

.mainQuartos ul{
    display: flex;
    justify-content: center;
}

.mainQuartos ul li{
    display: inline-table;
    text-align: center;
    width: 30%;
    vertical-align: top;
    box-sizing: border-box;
    border: 2px solid var(--dark-gray);
    margin: 5rem 2rem;
    padding: 2rem 3rem;
    margin-left: 10rem;
    background-color: var(--very-dark-gray);
}

.mainQuartos li:hover{
    transition: .4s;
    border-color: var(--branco-menos-branco-2);
}


.tituloQuartos{
    font-size: 40px;
    font-weight: bold;
    padding: 20px 0;
    color: var(--branco);
}
.mainQuartos ul li p{
    padding: 20px 2rem;
    text-align: center;
    color: var(--branco);
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 1.5em;
    margin: 1rem 0;
}
.imagemQuartos{
    width: 70%;
}

.botaoQuartos{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--branco);
    border: .1em solid var(--black);
    padding: .6rem ;
    margin: 2rem 0;
    background-color: var(--header-footer);
}

.botaoQuartos:hover{
    background-color: var(--quase-preto);
}

/*suites*/
.mainSuites{
    background-color: var(--quase-preto);
    padding: 1rem;
}


.mainSuites h1{
    text-align: center;
    font-size: 3rem;
    color: var(--branco);
    padding: 1.5rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.mainSuites section{
    display: inline-table;
}
.mainSuites section h2{
    font-size: 1.7rem;
    text-align: center;
    color: var(--branco);
    margin: 1rem;
    clear: left;
}

.listaSuites{
    width: 40% ;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.botaoQuarto, .botaoSuites{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--branco-menos-branco-2);
    padding: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*suite luxo*/

.mainSuitesLuxo{
    background-color: var(--quase-preto);
}

.mainSuitesLuxo  img{
    width: 40%;
    height: 30rem;
    display: inline-block;
}

.mainSuitesLuxo section h1{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    color: var(--branco);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainSuitesLuxo section p{
    font-size: 1.3rem;
    padding: 2rem 5rem 1.5rem;
    color:var(--branco);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*QUARTOS*/

.mainQuartosp2{
    background: var(--quase-preto);
}

.mainQuartosp2 h1{
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    color: var(--branco);
    padding: 1rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainQuartosp2 section{
    padding: 2rem 0;
}

.mainQuartosp2 section h2{
    text-align: center;
    color:var(--branco);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1.5rem 0;
}

.listaQuartos{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

/*Quarto*/

.mainQuarto{
    background: var(--quase-preto);
    color: var(--branco);
}

.mainQuarto section h1{
    font-size: 3.5rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 2rem 0;
}

.mainQuarto section img{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
}

.mainQuarto section p {
    font-size: 1.5rem;
    padding: 1rem 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.slider{
    margin: 0 auto;
    width: 50rem;
    height: 25rem;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 25rem;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 100%;
}

.manual-navigation{
    position: absolute;
    width: 50rem;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid var(--branco);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: var(--branco);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

#radio21:checked ~ .first{
    margin-left: 0;
}

#radio22:checked ~ .first{
    margin-left: -25%;
}
#radio23:checked ~ .first{
    margin-left: -50%;
}
#radio24:checked ~ .first{
    margin-left: -75%;
}

#radio31:checked ~ .first{
    margin-left: 0;
}

#radio32:checked ~ .first{
    margin-left: -25%;
}
#radio33:checked ~ .first{
    margin-left: -50%;
}

.navigation-auto div{
    border: 2px solid var(--blue);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 50rem;
    margin-top:360px ;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--branco);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--branco);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--branco);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--branco);
}


#radio21:checked ~ .navigation-auto .auto-btn21{
    background-color: var(--branco);
}
#radio22:checked ~ .navigation-auto .auto-btn22{
    background-color: var(--branco);
}
#radio23:checked ~ .navigation-auto .auto-btn23{
    background-color: var(--branco);
}
#radio24:checked ~ .navigation-auto .auto-btn24{
    background-color: var(--branco);
}


#radio31:checked ~ .navigation-auto .auto-btn31{
    background-color: var(--branco);
}
#radio32:checked ~ .navigation-auto .auto-btn32{
    background-color: var(--branco);
}
#radio33:checked ~ .navigation-auto .auto-btn33{
    background-color: var(--branco);
}

@media screen and (max-width: 800px){
    #logo{
        width: 0;
        height: 0;
    }

    header nav{
        position: relative;
        top: 0;
    }

    header nav li{
        font-size: 1rem;
        text-align: center;
        margin: 0 .3rem;

    }
    
    header nav li a{
        margin: 0;
        display:flex;
        padding: .5rem;
    }
    header nav li a:hover{
        color:var(--branco);
    }
    #imagemhotel{
        width: 100%;
        height: auto;
    }
    .txt{
        padding: 0;
    }

    .textos{
        padding: 1rem .5rem;
    }
    .quartosuite{
        width: 40rem;
        height: auto;
        padding:0;
        margin: 0;
    }
    .quartosuite li{
        display: none;
    }
    .quartosuite li img{
        width: 0;
        height: 0;
    }
    .localizacao h3{
        padding: 1rem;
    }

    section div iframe{
        margin: 0;
    }

    .form-div{
        width: 10rem;
    }

    .mainQuartos ul{
        display: block;
    }

    .mainQuartos ul li{
        display: table-cell;
    }

    .imagemQuartos{
        display: none;
    }
    
    .slider{
        width: 20rem;
        height: 15rem;
    }
    .manual-navigation{
        width: 15rem;
        margin-top: -220px;
    }

    .navigation-auto {
        width: 15rem;
        margin-top: 180px;
    }
    .slide img{
        width: 100%;
    }

    .listaSuites{
        width: 100%;
    }

    .mainSuitesLuxo img{
        width: 100%;
        height: auto;
    }

    .mainSuitesLuxo section p{
        padding: 2rem .5rem;
    }

    .mainQuarto section p{
        padding: 1rem .5rem;
    }

    .mainQuarto section img{
        width: 95%;
        padding: 0;
    }
}