body{
    background: #f8f8f8 ;
}

header{
    background: #B61111;
    padding: 30px 15px;
}

#logo{
    width: 15%;
    margin: 0;
    margin-left: 20px;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 60px;
}

nav a:hover{
    color: black;
    transition: .5s; 
}


#imagemhotel{
    width: 100%;
    height: 600px;
    padding: 2px 0 0 0;
}

.txt{
    padding: 0 20rem;
}

.titulo{
    font-weight: bold;
    font-size:30px;
    padding: 30px 0;
    text-align: center;
}

.essencia{
    background-color: #FFF;
    border: 3px solid #000000; 
    margin: 0 0 15px 0;
}


.sobrenos{
    background: #fff;
    border: 3px solid #000000;
    margin: 30px 0 0 0;
}

.textos{
    font-size: 22px;
    text-align: center;
    padding: 15px;
}



.quartosuite{
    width: 940px;
    margin: 1em 22rem;
}

.quartosuite li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 20px 50px;
    padding: 30px 10px 40px 10px;
    box-sizing: border-box;
    border: 4px solid #000000;
    border-radius: 10px;
}

.quartosuite li:hover{
    border-color: darkgray;
    transition: .2s;
}

.quartosuite li:active{
    border-color:gray;
}

.quartosuite li:hover h2{
    font-size: 35px;
}

.quartosuite li p{
    padding: 10px;
    font-size: 22px;
}

.quartosuite li img{
    width:100%;
    height: 100%;
}

.localizacao h3{
    font-size: 30px;
    padding: 10px 80px;
}

section div iframe{
    width: 100%;
    margin: 10px 0;
}

footer{
    padding: 2rem 0;
    background: #B61111;
    clear: both;
    margin: 2rem 0 0 0;
}

.copyright{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size:18px;
}
/* Contato */
.titulo-contato{
    font-size: 2rem;
    text-align: center;
}

form{
    font:1rem Verdana;
    display:block;
}

.form-div{
    margin:5px auto;
    padding: 5px;
    width:400px;
}

.label-control{
    font-weight: bold;
    display: block;
    text-transform: capitalize;
}

.input-control, .text-control{
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px 5px;
    margin:5px 0;
    width: 100%;
    box-shadow: 3px 3px #CCC;
    font: 1rem Verdana;
    color: #F00;
}

.button{
    border: 1px solid #000;
    background: #f00;
    color:#FFF;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 5px;
    border-radius: 15px;
    cursor:pointer;
    width: 140px;
    height: 50px;
}

.button:hover{
    color: #000;
    transition: 0.5s;
}

/*///////////////////////////////Quartos//////////////////////////////////*/

.mainQuartos ul li{
    display: inline-table;
    text-align: center;
    width: 30%;
    vertical-align: top;
    box-sizing: border-box;
    border: 2px solid gray;
    margin: 5rem 2rem;
    padding: 2rem 3rem;
    margin-left: 10rem;
}

.mainQuartos li:hover{
    transition: .4s;
    border-color: #000;
}


.tituloQuartos{
    font-size: 40px;
    font-weight: bold;
    padding: 20px 0;
}
.mainQuartos ul li p{
    padding: 20px 2rem;
    text-align: center;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 1.5em;
    margin: 1rem 0;
}
.imagemQuartos{
    width: 70%;
}

.botaoQuartos{
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    border: .1em solid #000;
    padding: .6rem ;
    margin: 2rem 0;
    background-color: #B61111;
}

.botaoQuartos:hover{
    font-size: 1.5rem;
}

/* LISTA QUARTOS */

.mainQuartosp2 ul li {
    display: list-item;
    border: 2px solid #000;
}

.mainQuartosp2 ul li h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

.listaQuartos{
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mainQuartosp2 ul li p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px ;
    text-align: center;
}

/*suites*/
.mainSuites{
    background-color: #f8f8f8;
}


.mainSuites h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.mainSuites ul{
    display: inline-table;
    margin-top: 5rem;
}
.mainSuites ul li h2{
    font-size: 1.7rem;
    text-align: center;
    margin: 1rem;
}

.listaSuites{
    width: 30%;
    margin: 1.6rem 0 1.6rem 32.5rem;
}

.botaoSuites{
    text-decoration: none;
    color: #FFF;
    border: .2rem solid #000;
    text-align: center;
    margin: 1rem 0 1rem 43.5rem;
    background-color: #B61111;
    padding: .4rem ;
}